:root{
    --primary-color:blue
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
font-family: 'Noto Sans JP', sans-serif;
body{
    padding: 8 rem, 1 rem ;
}
.center-container{
    max-width: 600px;
    margin: auto;
}

.link-primary{
background-color: var(--primary-color);
border-radius: 0.5rem;
border: 1px solid var(--primary-color);
color: white;
}

.link-secondary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: white;
    }