:root{
    --primary-color:#4037C1;
    --dark-gray:#A0AEC0;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
}

hr{
    margin:2rem,0rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}

.link-primary{
background-color: var(--primary-color);
border-radius: 0.5rem;
border: 1px solid var(--primary-color);
color: white;
}

.link-secondary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    color: white;
    }

    .navigation-container{
    background-color: var(--primary-color);
    color:white
   }


 .non-bullets{
    list-style:none;
    }

.list-item-inline{
    display:inline;
    padding:0rem,20rem;
}
.link{
    color: white;
 
}

.hero-img{
    max-width:300px;
    display:block;
    margin:auto;
}

.hero-heading{
    padding:2rem;      
}

.section{
    text-align:center;
}

.ow{
    background-color:var(--dark-gray);
}


